*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #FFFFFF;
    color: #3B2F2F;
}
/*---------HEADER-----------*/
header{
    background-color: #6B4F3A;
    color: #3B2F2F;
    font-size: 30px;
}
.cafe-name{
    text-align: center;
    padding: 30px 0px 30px 0px;
}
.navbar > ul{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    list-style: none;
    padding: 20px 0px 40px 280px;
}
.navbar a{
    text-decoration: none;
    color: #3B2F2F;
    font-weight: bold;
    border: solid 4px transparent;
}
.navbar a:hover{
    border-bottom: solid 4px #3B2F2F;
    transition: 0.4s;
    transition: border 0.3s ease;

}
/*---------MAIN-----------*/
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    width: 100%;
    color: #FFFFFF;
    min-height: 600px;
    max-height: 800px;
    background-image: Url("media/cafe-banner.avif");
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}
.om-oss{
    background-color: #DCC7B0;
    padding-top: 40px;
    padding-bottom: 40px;
}
.om-oss h2{
    text-align: center;
    padding: 25px 250px 10px 250px;
    font-size: 30px;
    line-height: 2;
}
.om-oss p{
    text-align: center;
    padding: 5px 250px 10px 250px;
    font-size: 30px;
    line-height: 2;
}
/*---------FOOTER-----------*/
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    background-color: #6B4F3A;
}
footer a{
    text-decoration: none;
    color: #3B2F2F;
}
#copyright{
    order: 1;
}
#mail{
    order: 0;
}
#github{
    order: 2;
}
/*-----------MENY---------------*/
/*-----------MENY---------------*/
/*-----------MENY---------------*/
.our-menu{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    text-align: center;
    padding: 15px;
    background-color:#B68B60;
}
.menu-item{
    border-bottom: solid 7px transparent;
    margin: 25px;
    background-color: #DCC7B0;
}
.menu-item p{
    padding-bottom: 15px;
}
.menu-item:hover{
    border-bottom: solid 7px #3B2F2F;
    transition: 0.4s;
}
/*-----------ÅPNINIGSTIDER---------------*/
/*-----------ÅPNINIGSTIDER---------------*/
/*-----------ÅPNINIGSTIDER---------------*/
.åpningstider{
    background-color: #DCC7B0;
    padding-top: 150px;
    padding-bottom: 40px;
    min-height: 600px;
}
.åpningstider h2{
    text-align: center;
    padding: 15px 250px 10px 250px;
    font-size: 30px;
    line-height: 2;
}
.åpningstider p{
    text-align: center;
    padding: 5px 250px 10px 250px;
    font-size: 30px;
    line-height: 1.3;